.home-page {
  background-image: url("flat-lay-workstation-with-copy-space-laptop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
}

.welcomeParagraph {
  font-size: 100px;
  position: absolute;
  top: 55%;
  left: 15%;
  transform: translate(0, -50%);
  color: aliceblue;
  font-family: "Segoe Script";
  font-weight: bolder;

  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;

  width: 0;
  animation: typing 2.5s steps(30) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 950px;
  }
}

.sub-text {
  position: absolute;
  top: 75%;
  left: 15%;
  transform: translate(0, -50%);

  color: white;
  font-size: 22px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid white;

  animation: slideUp 0.8s ease forwards;
  animation-delay: 2.6s;
}

@keyframes slideUp {
  from {
    transform: translateY(35px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-image: url("VecteezyWoodBackgroundAT2308_generated.jpg");
  z-index: 1000;
  align-items: center;
  justify-items: center;
  align-self: center;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
}

.navbar-list li a {
  color: black;
  text-decoration: double;
  font-weight: bolder;
}

.navbar-list li a:hover {
  text-decoration: underline;
}

.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
}

.logout-button:hover {
  background-color: #d32f2f;
}
