.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
  background-image: url("login-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login {
  background: #fff;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0px 5px 15px rgba(93, 93, 93, 0.2);
  max-width: 550px;
  display: flex;
  height: fit-content;
  flex-direction: column;
}

h1 {
  color: #333;
  margin-bottom: 10px;
  align-self: center;
}

.welcome {
  color: #555;
  text-align: center;
  align-self: center;
  max-width: 400px;
  margin-bottom: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.signup-p {
  font-size: large;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: #333333;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  align-self: center;
  justify-content: center;
  font-size: large;
  color: #fff;
  gap: 5px;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #7d7979;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
}

button[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

p button {
  margin-left: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

p button:hover {
  background-color: #218838;
}
