.myPostsDiv {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* LEVA ZONA – EDIT */
.editMyPostsZone {
  width: 10%;
  background-color: rgba(0, 0, 255, 0.05);
  border-right: 2px dashed rgba(0, 0, 255, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #333;
}

/* SREDINA – POSTOVI */
.MyPostsZone {
  width: 80%;
  padding: 20px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* DESNA ZONA – DELETE */
.deleteMyPostZone {
  width: 10%;
  background-color: rgba(255, 0, 0, 0.05);
  border-left: 2px dashed rgba(255, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #333;
}

.paginationButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  margin-top: 20px;
}

.postSpan {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  background-color: #847c7c;
  width: 36px;
}

.previousButton,
.nextButton {
  background-color: #1877f2;
  color: white;
  height: 36px;
  width: 90px;
  border-radius: 10%;
  border: 1px solid #333;
  font-weight: bold;
}
