.myPostsDiv {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.editMyPostsZone {
  width: 10%;
  background-color: rgba(0, 0, 255, 0.05);
  border-right: 2px dashed rgba(0, 0, 255, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #333;
}

.MyPostsZone {
  width: 80%;
  padding: 20px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deleteMyPostZone {
  width: 10%;
  background-color: rgba(255, 0, 0, 0.05);
  border-left: 2px dashed rgba(255, 0, 0, 0.3);

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #333;
}

.paginationButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  margin-top: 20px;
}

.postSpan {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  background-color: #847c7c;
  width: 36px;
}

.previousButton,
.nextButton {
  background-color: #1877f2;
  color: white;
  height: 36px;
  width: 90px;
  border-radius: 10px;
  border: 1px solid #333;
  font-weight: bold;
}

.editForm {
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #9e860cfe;
}

.editForm input {
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-size: 14px;
}

.editForm textarea {
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-size: 14px;
}

.editForm button {
  background-color: #1877f2;
  color: white;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #333;
  font-weight: bold;
  font-size: large;
}
