.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;

  background: #f5f5f5;
}

.dropZone {
  width: 220px;
  height: 350px;

  border: 3px dashed #333;
  background: rgba(255, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: bold;

  z-index: 10;
}

.dropZone.delete {
  background: rgba(255, 80, 80, 0.25);
}

.dropZone.submit {
  background: rgba(80, 255, 80, 0.25);
}
