.registerPage {
  background-image: url("register-background.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-items: center;
}

.registerForm {
  margin-top: 25px;
  background-color: rgba(164, 163, 163, 0.5);
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: black;
  font-size: x-large;
  font-weight: bolder;
}

.registerForm input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.registerForm button {
  padding: 12px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.registerForm button:hover {
  background-color: #0056b3;
}

.preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10px;
  align-self: center;
}

.create-text {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 40px;
  padding-bottom: 0px;
  font-family: "MV Boli";
  font-size: xx-large;

  animation: slideUp 1.5s ease forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(35px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.selectRegister {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btnBackRegister {
  display: inline-block;
  margin: 0;
  padding: 8px 16px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btnBackRegister:hover {
  background-color: #0056b3;
}
